// Fonts
//
// All fonts used on the website.
@import 'https://fonts.googleapis.com/css?family=PT+Serif:400,700';
$pt-serif: 'PT Serif', serif;


@import 'https://fonts.googleapis.com/css?family=Oswald|Slabo+27px';

$oswald: 'Oswald', serif;
$slabo: 'Slabo 27px', sans-serif;
