.c-quote {
  box-sizing: border-box;
  background-color: color('blue');
  color: color('white');
  margin: 0 auto;
  padding: pxtoem(30) 10%;
  text-align: center;
  font-size: pxtoem(18);
  position: relative;

  @include respond-to('medium') {
    font-size: pxtoem(24);

    &:before {
      top: 88%;
      font-size: pxtoem(250,24);
    }
  }

  @include respond-to('xxlarge') {
    font-size: pxtoem(28);
    padding: pxtoem(40) 10%;

    &:before {
      top: 90%;
      font-size: pxtoem(350,28);
    }
  }

  &:before {
    font-family: Georgia, serif;
    content: '“';
    position: absolute;
    top: 78%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    font-size: pxtoem(250,18);
    opacity: 0.1;
  }
}
