<div class="o-wrapper kss-wrapper">
 <div class="o-row o-faux-row kss-row">
  <code>.o-row.o-faux-row</code><br/>This is a regular row. Padding at top.
 </div>
 <div class="o-row o-faux-row -small kss-row">
   <code>.o-row.o-faux-row.-small</code><br/>This is a small row. Padding at top.
 </div>
 <div class="o-row o-faux-row -large kss-row">
   <code>.o-row.o-faux-row.-large</code><br/>This is a large row. Padding at top.
 </div>
</div>
