<div class="o-wrapper kss-wrapper">
 <h2 class="c-heading-b -margin-small">8/12 and 4/12 width at breakpoint large:</h2>
 <div class="o-row -small kss-row">
   <div class="o-8-12@large u-left@large kss-grid"><code>.o-8-12@large .u-left@large</code></div>
   <div class="o-4-12@large u-left@large u-last@large kss-grid"><code>.o-4-12@large .u-left@large .u-last@large</code></div>
 </div>
 <h2 class="c-heading-b -margin-small">4/12 width at breakpoint large:</h2>
 <p>(Because all items in row are equal with, the <code>u-last@large</code> class can be omitted.)</p>
 <div class="o-row -small kss-row">
   <div class="o-4-12@large u-left@large kss-grid"><code>.o-4-12@large .u-left@large</code></div>
   <div class="o-4-12@large u-left@large kss-grid"><code>.o-4-12@large .u-left@large</code></div>
   <div class="o-4-12@large u-left@large kss-grid"><code>.o-4-12@large .u-left@large</code></div>
 </div>
 <h2 class="c-heading-b -margin-small">6/12 width at breakpoint large, 3/12 width at breakpoint xlarge</h2>
 <div class="o-row -small kss-row">
   <div class="o-3-12@large u-left@large kss-grid"><code>.o-6-12@large .o-3-12@xlarge .u-left@large</code><br/></div>
   <div class="o-3-12@large u-left@large kss-grid"><code>.o-6-12@large .o-3-12@xlarge .u-left@large</code><br/></div>
   <div class="o-3-12@large u-left@large kss-grid"><code>.o-6-12@large .o-3-12@xlarge .u-left@large</code><br/></div>
   <div class="o-3-12@large u-left@large kss-grid"><code>.o-6-12@large .o-3-12@xlarge .u-left@large</code><br/></div>
 </div>
 <h2 class="c-heading-b -margin-small">1/2 width at breakpoint medium-large, 8/12 and 4/12 at breakpoint large:</h2>
 <div class="o-row -small kss-row">
   <div class="o-6-12@large u-left@large kss-grid"><code>.o-1-2@medium-large .o-8-12@large .u-left@medium</code><br/></div>
   <div class="o-6-12@large u-left@large kss-grid"><code>.o-1-2@medium-large .o-4-12@large .u-left@medium</code><br/></div>
 </div>
</div>
