// Text

// Body text
.c-body {
  font-size: pxtoem(14);
  line-height: 1.65;
  max-width: 36em;

  &__preamble {
    font-size: 1.1em;
    line-height: 1.5;
    max-width: 34em;
    font-weight: 700;
  }

  @include respond-to('medium') {
    font-size: pxtoem(18);

    &__preamble {
      font-size: 1.15em;
      line-height: 1.5;
      margin-bottom: 1.4em;
    }
  }

  @include respond-to('large') {
    font-size: pxtoem(20);

    &__preamble {
      font-size: 1.15em;
      line-height: 1.5;
      margin-bottom: 1.4em;
    }
  }

  *:not(.c-body__preamble) {
    max-width: 32em;
  }

  &.-center {
    margin-left: auto;
    margin-right: auto;
  }

  img,
  .c-media {
    display: block;
    margin: 0 0 1.5em;
  }

  video,
  object,
  iframe {
    max-width: 100%;
    margin: 0 0 1.5em;
  }

  a {
    @include transition;
    color: color('black');
    border-bottom: solid 0.08em color('red');
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: color('red');
      border-bottom-color: color('red');
    }
  }

  ul,
  ol {
    padding-left: 3em;
    margin-top: 0;
    margin-bottom: 1.6em;

    &:last-child {
      margin: 0;
    }
  }

  li {
    padding-left: 0.3em;
  }

  table {
    margin-bottom: 1.6em;
  }

  h2 {
    font-weight: bold;
    font-size: pxtoem(22,16);
    margin: 2em 0 0.3em;
    color: color('grey','darker');

    @include respond-to('large') {
      font-size: pxtoem(28,20);
    }
  }

  h3 {
    font-weight: normal;
    font-size: pxtoem(18,16);
    margin: 2em 0 0.3em;
    color: color('grey','darker');

    @include respond-to('large') {
      font-size: pxtoem(24,20);
    }
  }

  > p {
    margin: 0 0 1em;

    &:last-child {
      margin: 0;
    }
  }

  blockquote {
    color: color('grey','darker');
    position: relative;
    font-size: pxtoem(18);
    line-height: pxtoem(20,16);
    text-align: center;
    margin: 3em 0.5em 1.5em;

    @include respond-to('large') {
      font-size: pxtoem(27,21);
      line-height: pxtoem(35,27);
    }

    &:before {
      position: absolute;
      content: 'â€';
      font-size: 3.5em;
      line-height: 1em;
      color: color('grey','darker');
      top: -0.5em;
      left: 0;
      right: 0;
    }
  }

  *:first-child {
    margin-top: 0;
  }
}

.c-body-small {
  font-size: pxtoem(14);
  line-height: 1.65;
  max-width: 36em;

  @include respond-to('large') {
    font-size: pxtoem(16);
  }

  a {
    @include transition;
    color: color('black');
    border-bottom: solid 0.08em color('red');
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: color('red');
      border-bottom-color: color('red');
    }
  }

  ul,
  ol {
    padding-left: 3em;
    margin-top: 0;
    margin-bottom: 1.6em;

    &:last-child {
      margin: 0;
    }
  }

  li {
    padding-left: 0.3em;
  }

  > p {
    margin: 0 0 1em;

    &:last-child {
      margin: 0;
    }
  }
}
