// Links

.c-social {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: pxtoem(36);
  vertical-align: middle;
  text-align: center;

  &__item {
    display: inline-block;
    margin: 0 1em;
  }

  &__link {
    @include transition;
    color: color('white');
    font-size: pxtoem(18);
    line-height: pxtoem(32);

    [class^='c-icon'] {
      @include transition;
      margin-right: 0.5em;
      float: left;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}
