// Text

.c-preamble {
  font-size: pxtoem(18);
  line-height: 1.7;
  max-width: 36em;
  font-weight: 300;
  margin-bottom: 1.1em;

  @include respond-to('medium') {
    font-size: pxtoem(22);
  }

  @include respond-to('large') {
    font-size: pxtoem(26);
  }

  p {
    margin: 0;
  }

  a {
    @include transition;
    color: color('black');
    outline: none;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 0.2em solid color('yellow');
    padding: 0.3em 0 0.2em;

    &:hover,
    &:focus,
    &:active {
      color: color('black');
      background-color: color('yellow');
    }
  }
}

// Body text
.c-body {
  font-size: pxtoem(14);
  line-height: 1.7;
  max-width: 36em;
  margin: 0;
  font-weight: 300;

  @include respond-to('medium') {
    font-size: pxtoem(18);
  }

  @include respond-to('large') {
    font-size: pxtoem(20);
  }

  &.-center {
    margin-left: auto;
    margin-right: auto;
  }

  img,
  .c-media {
    display: block;
    margin: 0 0 1.5em;
  }

  video,
  object,
  iframe {
    max-width: 100%;
    margin: 0 0 1.5em;
  }

  a {
    @include transition;
    color: color('black');
    outline: none;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 0.2em solid color('yellow');
    padding: 0.3em 0 0.2em;

    &:hover,
    &:focus,
    &:active {
      color: color('black');
      background-color: color('yellow');
    }
  }

  ul,
  ol {
    padding-left: 1.5em;
    margin-top: 0;
    margin-bottom: 1.6em;

    &:last-child {
      margin: 0;
    }

    @include respond-to('large') {
      padding-left: 3em;
    }
  }

  li {
    padding-left: 0.3em;
  }

  table {
    margin-bottom: 1.6em;
  }

  h2 {
    font-family: $droidserif;
    font-weight: bold;
    line-height: 1.2;
    font-size: pxtoem(24,16);
    margin: 1.8em 0 0.4em;
    color: color('black');
    letter-spacing: -0.01em;

    @include respond-to('large') {
      font-size: pxtoem(35,20);
    }
  }

  h3 {
    font-weight: 400;
    line-height: 1.2;
    font-size: pxtoem(18,16);
    margin: 1.2em 0 0.3em;
    color: color('black');
    letter-spacing: 0.01em;

    @include respond-to('large') {
      font-size: pxtoem(26,20);
    }

    &[class$='__example__heading'] {
      font-size: 0.9em;
      margin-top: 2em;
      margin-bottom: 0.7em;
    }
  }

  > p {
    margin: 0 0 1em;

    &:last-child {
      margin: 0;
    }
  }

  blockquote {
    color: color('grey','darker');
    position: relative;
    font-size: pxtoem(20);
    line-height: 1.2;
    text-align: center;
    margin: 1.5em 0;
    font-family: $droidserif;
    border-top: 4px solid color('black');
    border-bottom: 4px solid color('black');
    padding: 3em 0.5em 1em;

    @include respond-to('large') {
      font-size: pxtoem(33,21);
      line-height: 1.4;
    }

    @include respond-to('xlarge') {
      margin: 1.5em -2em;
    }

    &:before {
      position: absolute;
      content: '”';
      font-size: 3.5em;
      line-height: 1em;
      color: color('black');
      top: 0.2em;
      left: 0;
      right: 0;
    }
  }

  *:first-child {
    margin-top: 0;
  }

  &__example {
    background-color: color('grey','lighter');
    padding: 1.2em 1.5em;
    font-size: 0.9em;
  }
}

.c-body-small {
  font-size: pxtoem(14);
  font-weight: 300;
  line-height: 1.65;
  margin: 0;
  max-width: 36em;
  overflow: hidden;

  @include respond-to('medium') {
    font-size: pxtoem(18);
  }

  &.-white {
    color: color('white');
  }

  p {
    margin: 0;
  }
}

.c-list-naked {
  margin: 0;
  padding: 0;
  list-style: none;
}
