// Articles
//
// Articles are independent pieces of content wrapped in the `article`-tag.

.c-page {
  background-color: color('white');
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: pxtoem(30) pxtoem(20) pxtoem(50);
  margin-top: pxtoem(-30);
  box-sizing: border-box;

  @include respond-to('medium') {
    padding: pxtoem(50) 7% pxtoem(70);
  }

  @include respond-to('large') {
    margin-top: pxtoem(-80);
    padding: pxtoem(80) pxtoem(80) pxtoem(120);
  }

  @include respond-to('xxlarge') {
    max-width: pxtoem(920);
  }
}

.c-case {
  overflow: hidden;
  border-bottom: 2px solid color('grey','lighter');

  &:last-child {
    border-bottom: 0;
  }

  &:nth-child(odd) {
    .c-case__media {
      @include respond-to('large') {
        float: left;
        margin-left: 0;
        margin-right: 8%;
      }
    }
  }

  &__wrapper {
    overflow: hidden;
  }

  &__media {
    margin-bottom: 1.2em;
    border: 1px solid color('grey', 'lighter');

    @include respond-to('large') {
      float: right;
      width: 46%;
      margin-left: 8%;
    }
  }

  &__link {
    @include transition;
    text-decoration: underline;
    margin: 1.5em 0 0;
    display: inline-block;
    font-size: pxtoem(18);
    line-height: pxtoem(20,18);

    [class^="c-icon"] {
      @include transition;
      margin-left: 0.5em;
      vertical-align: sub;
    }

    &:hover,
    &:focus,
    &:active {
      color: color('black');

      [class^="c-icon"] {
        fill: color('black');
        margin-right: 0.5em;
      }
    }
  }
}
