// Articles
//
// Articles are independent pieces of content wrapped in the `article`-tag.

.c-page {
  background-color: color('white');
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: pxtoem(30) pxtoem(20) pxtoem(50);
  margin-top: pxtoem(-30);
  box-sizing: border-box;

  @include respond-to('medium') {
    padding: pxtoem(50) 7% pxtoem(70);
  }

  @include respond-to('large') {
    margin-top: pxtoem(-80);
    padding: pxtoem(80) pxtoem(80) pxtoem(100);
  }

  @include respond-to('xxlarge') {
    max-width: pxtoem(920);
  }
}

.c-case {
  border-bottom: 2px solid color('grey','lighter');

  &:last-child {
    border-bottom: 0;
  }

  &__wrapper {
    overflow: hidden;
  }

  &__media {
    position: relative;
    margin-bottom: 2em;

    @include respond-to('large') {

      &.-even {
        float: left;
        margin-right: 5%;
      }

      &.-odd {
        float: right;
        margin-left: 5%;
      }
    }

    @include respond-to('xxlarge') {
      width: 56%;
    }

    &__large {
      @include respond-to('large-xxlarge') {
        display: none;
      }
    }

    &__small {
      display: none;

      @include respond-to('large') {
        display: block;
      }

      @include respond-to('xxlarge') {
        position: absolute;
        top: pxtoem(105);

        &.-odd {
          right: pxtoem(-50);
        }

        &.-even {
          left: pxtoem(-50);
        }
      }
    }
  }

  &__link {
    @include transition;
    text-decoration: underline;
    margin: 1.5em 0 0;
    display: inline-block;
    font-size: pxtoem(18);
    line-height: pxtoem(20,18);

    [class^="c-icon"] {
      @include transition;
      margin-left: 0.5em;
      vertical-align: sub;
    }

    &:hover,
    &:focus,
    &:active {
      color: color('black');

      [class^="c-icon"] {
        fill: color('black');
        margin-right: 0.5em;
      }
    }
  }
}
