<footer id="contact" class="c-footer">
  <div class="o-wrapper">
    <h2 class="c-heading-b -white -center">{{ site.t[page.lang].contact }}</h2>
    <svg class="c-divider -white -center" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/svg.svg#divider"></use></svg>
    <div class="o-row u-center-align">
      <a class="c-button" href="mailto:{{ site.email }}">
        <svg class="c-icon-email" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/svg.svg#icon-email"></use></svg>{{ site.email }}</a>
    </div>
    <ul class="c-social">
      <li class="c-social__item">
        <a class="c-social__link" href="https://github.com/decemberly/" title="Github">
          <svg class="c-icon-github" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/svg.svg#icon-github"></use></svg>
          <span>Github</span>
        </a>
      </li>
      <li class="c-social__item">
        <a class="c-social__link" href="https://www.linkedin.com/in/decemberly" title="LinkedIn">
          <svg class="c-icon-linkedin" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/svg.svg#icon-linkedin"></use></svg>
          <span>LinkedIn</span>
        </a>
      </li>
    </ul>
  </div><!-- 
  <p class="c-copyright o-faux-row">&copy;&nbsp;2013-{{ 'now' | date: '%Y' }} Hannah Andersson</p> -->
</footer>
