.c-button {
  @include transition;
  font-weight: 400;
  cursor: pointer;
  border: 0;
  display: inline-block;
  text-decoration: none;
  padding: pxtoem(10) pxtoem(12);
  box-shadow: 0 0 0 2px color('yellow');
  position: relative;
  line-height: 1.9;
  font-size: pxtoem(18);
  background-color: transparent;
  color: color('white');

  @include respond-to('medium') {
    font-size: pxtoem(22);
    padding: pxtoem(16) pxtoem(30);
    border: 2px solid color('black');
    box-shadow: 0 0 0 5px color('yellow');
  }

  [class^='c-icon'] {
    @include transition;
    margin-right: 0.5em;
    float: left;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    background-color: color('yellow');
    color: color('black');

    [class^='c-icon'] {
      fill: color('black');
    }
  }
}

.c-button--menu {
  border: 0;
  background-color: transparent;
  float: right;
  padding: 0;

  @include respond-to('medium') {
    display: none;
  }

  &:hover,
  &:focus,
  &:active {
    outline: 0;
  }

  &.is-tabbed {
    outline: 1px solid color('black');
  }

  &__text {
    font-size: pxtoem(11);
    text-transform: uppercase;
  }
}
