.c-icon-github {
  display: inline-block;
  width: pxtoem(36);
  height: pxtoem(36);
  fill: color('grey','dark');
}

.c-icon-linkedin {
  display: inline-block;
  width: pxtoem(36);
  height: pxtoem(36);
  fill: color('grey','dark');
}

.c-icon-email {
  display: inline-block;
  width: pxtoem(32);
  height: pxtoem(32);
  fill: color('grey','dark');
}

.c-icon-arrow {
  fill: color('red');
  width: pxtoem(18);
  height: pxtoem(18);
}

.c-divider {
  display: block;
  width: pxtoem(100);
  height: pxtoem(14);
  margin: 0.8em auto 1.6em;
  fill: color('red');

  @include respond-to('medium') {
    margin: 0.8em auto 2.6em;
  }
}
