@charset "UTF-8";

@import 'https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet';

.o-row::after,
.o-wrapper::after,
.u-clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.u-visually-hidden,
.u-focusable {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

article,
aside,
figcaption,
figure,
footer,
header,
legend,
main,
nav,
section {
  display: block;
}

audio,
canvas,
label,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  vertical-align: middle;
}

img {
  height: auto;
  max-width: 100%;
  border: 0;
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

progress {
  vertical-align: baseline;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
select {
  text-transform: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input::-moz-placeholder {
  opacity: 1;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  margin: 4px 0 0;
  line-height: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  padding: 0;
  vertical-align: top;
}

button {
  overflow: visible;
}

table {
  max-width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
}

a {
  background: transparent;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

h1 {
  margin: 0.7em 0;
  font-size: 2em;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 85%;
}

sub,
sup {
  position: relative;
  font-size: 80%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.25em;
}

sub {
  bottom: -0.25em;
}

dfn {
  font-style: italic;
}

abbr[title] {
  border-bottom: 1px dotted;
}

mark {
  color: #000;
  background: #ff0;
}

blockquote:before,
blockquote:after {
  content: '';
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.1em 0.3em;
  font-size: 0.8em;
}

pre {
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

::-moz-selection {
  background: #B8312F;
  color: #fff;
}

::selection {
  background: #B8312F;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #B8312F;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

ul {
  list-style: disc outside;
}

li > ul,
li > ol {
  margin-left: 1.92;
  margin-bottom: 0;
}

html {
  line-height: 1.6;
  padding: 0;
  background-color: #F4F4F4;
  color: #363636;
  font-family: "Lato", serif;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100%;
}

blockquote {
  quotes: '“' '”';
}

[class^="o-"],
[class*=" o-"] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.o-row {
  margin-bottom: 1.25em;
}

.o-row.-small {
  margin-bottom: 1.25em;
}

.o-row.-large {
  margin-bottom: 1.875em;
}

.o-row.-line {
  border-bottom: 1px solid #ebebeb;
}

.o-faux-row {
  padding-top: 1.25em;
}

.o-faux-row.-small {
  padding-top: 1.25em;
}

.o-faux-row.-large {
  padding-top: 1.875em;
}

.o-wrapper {
  width: 90%;
  max-width: 75em;
  margin-right: auto;
  margin-left: auto;
}

.c-page {
  background-color: #fafafa;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1.875em 1.25em 3.125em;
  margin-top: -1.875em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.c-case {
  border-bottom: 2px solid #ebebeb;
}

.c-case:last-child {
  border-bottom: 0;
}

.c-case__wrapper {
  overflow: hidden;
}

.c-case__media {
  position: relative;
  margin-bottom: 2em;
}

.c-case__media__small {
  display: none;
}

.c-case__link {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
  margin: 1.5em 0 0;
  display: inline-block;
  font-size: 1.125em;
  line-height: 1.11111em;
}

.c-case__link [class^="c-icon"] {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-left: 0.5em;
  vertical-align: sub;
}

.c-case__link:hover,
.c-case__link:focus,
.c-case__link:active {
  color: #363636;
}

.c-case__link:hover [class^="c-icon"],
.c-case__link:focus [class^="c-icon"],
.c-case__link:active [class^="c-icon"] {
  fill: #363636;
  margin-right: 0.5em;
}

.c-background-white {
  background: #fafafa;
  overflow: hidden;
}

.c-footer {
  background-color: #ebebeb;
  font-size: 0.875em;
  padding: 2em 0;
}

.c-header {
  padding: 2em 0 4em;
  background: #28324E;
}

.c-header__title {
  color: #fafafa;
  font-weight: 700;
  font-size: 1.125em;
  text-align: center;
  margin: 0;
}

.c-header__description {
  color: #fafafa;
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
  max-width: 18em;
  clear: both;
  line-height: 1.3;
}

.c-header__link {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  background: #333;
  padding: 0.2em 0.53333em;
  border-radius: 0.13333em;
  font-size: 0.9375em;
  color: #fafafa;
  font-weight: bold;
  text-decoration: none;
}

.c-header__link:hover,
.c-header__link:focus,
.c-header__link:active {
  background: #B8312F;
  text-decoration: none;
}

.c-header__link:active {
  -webkit-box-shadow: inset 0.125em 0.125em 0.3125em 0 rgba(50, 50, 50, 0.22);
  box-shadow: inset 0.125em 0.125em 0.3125em 0 rgba(50, 50, 50, 0.22);
}

.c-heading-a,
.c-heading-b {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #363636;
  word-wrap: break-word;
  font-weight: 700;
}

.c-heading-a a,
.c-heading-b a {
  color: #363636;
  text-decoration: none;
}

.c-heading-a a:hover,
.c-heading-b a:hover,
.c-heading-a a:focus,
.c-heading-b a:focus,
.c-heading-a a:active,
.c-heading-b a:active {
  color: #B8312F;
  text-decoration: underline;
}

.c-bookmark
  .c-heading-a,
.c-bookmark
  .c-heading-b {
  color: #363636;
  overflow: hidden;
}

.c-bookmark:hover
  .c-heading-a,
.c-bookmark:hover
  .c-heading-b,
.c-bookmark:focus
  .c-heading-a,
.c-bookmark:focus
  .c-heading-b,
.c-bookmark:active
  .c-heading-a,
.c-bookmark:active
  .c-heading-b {
  text-decoration: underline;
  color: #B8312F;
}

.c-heading-a {
  font-size: 1.375em;
  line-height: 1.15;
  text-transform: uppercase;
  margin: 0 0 0.3em;
  color: #28324E;
  text-align: center;
}

.c-heading-b {
  font-size: 1.6875em;
  line-height: 1.25;
  margin: 0 0 0.4em;
}

.c-icon-github {
  display: inline-block;
  width: 2.25em;
  height: 2.25em;
  fill: #676767;
}

.c-icon-linkedin {
  display: inline-block;
  width: 2.25em;
  height: 2.25em;
  fill: #676767;
}

.c-icon-email {
  display: inline-block;
  width: 2em;
  height: 2em;
  fill: #676767;
}

.c-icon-arrow {
  fill: #B8312F;
  width: 1.125em;
  height: 1.125em;
}

.c-divider {
  display: block;
  width: 3.75em;
  height: 0.5625em;
  margin: 0.8em auto 1.6em;
  fill: #B8312F;
}

.c-social {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 2.25em;
  vertical-align: middle;
  text-align: center;
}

.c-social__item {
  display: inline-block;
  margin: 0 1em;
}

.c-social__link {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #333;
  line-height: 2em;
}

.c-social__link [class^="c-icon"] {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 0.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.c-social__link:hover,
.c-social__link:focus,
.c-social__link:active {
  color: #B8312F;
}

.c-social__link:hover [class^="c-icon"],
.c-social__link:focus [class^="c-icon"],
.c-social__link:active [class^="c-icon"] {
  fill: #B8312F;
}

.c-preview {
  background: #ebebeb;
  border: 0.375em solid #ebebeb;
  border-radius: 0.1875em;
}

.c-preview__url {
  background: #fafafa;
  border-radius: 0.25em;
  margin: 0 0 0.375em;
  padding: 0.25em 0.5em 0.25em 2.125em;
  font-size: 0.875em;
  color: #676767;
  background-image: url("../img/svg/icon--globe.svg");
  background-repeat: no-repeat;
  background-position: 0.5em center;
  background-size: 1.25em 1.25em;
}

.c-preview.-small .c-preview__media {
  width: 14.0625em;
  height: 24.5em;
}

.c-quote {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #28324E;
  color: #fafafa;
  margin: 0 auto;
  padding: 1.875em 10%;
  text-align: center;
  font-size: 1.125em;
  position: relative;
}

.c-quote:before {
  font-family: Georgia, serif;
  content: '“';
  position: absolute;
  top: 78%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 13.88889em;
  opacity: 0.1;
}

.c-body {
  font-size: 0.875em;
  line-height: 1.65;
  max-width: 36em;
}

.c-body__preamble {
  font-size: 1.1em;
  line-height: 1.5;
  max-width: 34em;
  font-weight: 700;
}

.c-body *:not(.c-body__preamble) {
  max-width: 32em;
}

.c-body.-center {
  margin-left: auto;
  margin-right: auto;
}

.c-body img,
.c-body .c-media {
  display: block;
  margin: 0 0 1.5em;
}

.c-body video,
.c-body object,
.c-body iframe {
  max-width: 100%;
  margin: 0 0 1.5em;
}

.c-body a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #363636;
  border-bottom: solid 0.08em #B8312F;
  text-decoration: none;
}

.c-body a:hover,
.c-body a:focus,
.c-body a:active {
  color: #B8312F;
  border-bottom-color: #B8312F;
}

.c-body ul,
.c-body ol {
  padding-left: 3em;
  margin-top: 0;
  margin-bottom: 1.6em;
}

.c-body ul:last-child,
.c-body ol:last-child {
  margin: 0;
}

.c-body li {
  padding-left: 0.3em;
}

.c-body table {
  margin-bottom: 1.6em;
}

.c-body h2 {
  font-weight: bold;
  font-size: 1.375em;
  margin: 2em 0 0.3em;
  color: #333;
}

.c-body h3 {
  font-weight: normal;
  font-size: 1.125em;
  margin: 2em 0 0.3em;
  color: #333;
}

.c-body > p {
  margin: 0 0 1em;
}

.c-body > p:last-child {
  margin: 0;
}

.c-body blockquote {
  color: #333;
  position: relative;
  font-size: 1.125em;
  line-height: 1.25em;
  text-align: center;
  margin: 3em 0.5em 1.5em;
}

.c-body blockquote:before {
  position: absolute;
  content: '”';
  font-size: 3.5em;
  line-height: 1em;
  color: #333;
  top: -0.5em;
  left: 0;
  right: 0;
}

.c-body *:first-child {
  margin-top: 0;
}

.c-body-small {
  font-size: 0.875em;
  line-height: 1.65;
  max-width: 36em;
}

.c-body-small a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #363636;
  border-bottom: solid 0.08em #B8312F;
  text-decoration: none;
}

.c-body-small a:hover,
.c-body-small a:focus,
.c-body-small a:active {
  color: #B8312F;
  border-bottom-color: #B8312F;
}

.c-body-small ul,
.c-body-small ol {
  padding-left: 3em;
  margin-top: 0;
  margin-bottom: 1.6em;
}

.c-body-small ul:last-child,
.c-body-small ol:last-child {
  margin: 0;
}

.c-body-small li {
  padding-left: 0.3em;
}

.c-body-small > p {
  margin: 0 0 1em;
}

.c-body-small > p:last-child {
  margin: 0;
}

/* Helper to see utility-classes /*
/*[class^="u-"],
[class*=" u-"] {
  outline: 5px solid cyan;
}*/

.u-full {
  clear: both;
  overflow: hidden;
}

.u-center-align {
  text-align: center;
}

.u-center {
  margin-right: auto;
  margin-left: auto;
}

.u-center-vertical {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.u-relative {
  position: relative;
}

.u-first {
  clear: left;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-relative {
  position: relative;
}

[aria-labelledby^='a11y-toggle'][aria-hidden='false'] {
  max-height: 31.25em;
  /* approximate max height */
  overflow-y: hidden;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

[aria-labelledby^='a11y-toggle'][aria-hidden='true'] {
  max-height: 0 !important;
  overflow-y: hidden;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

[data-a11y-toggle]:not([aria-controls]) {
  display: none;
}

.is-tabbed {
  outline: 2px solid #28324E;
  outline-offset: -2px !important;
}

.is-tabbed.c-bookmark {
  outline: 0;
}

.is-tabbed.c-bookmark [class^='c-heading'] {
  outline: 2px solid #28324E;
  outline-offset: -2px !important;
}

.u-focusable:active,
.u-focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

.u-hidden {
  display: none;
}

@media (min-width: 34.375em) {
  .o-1-2\@medium {
    margin-right: 3%;
    width: 48.5%;
  }

  .o-1-2\@medium:nth-child(2n) {
    margin-right: 0;
  }

  .o-1-2\@medium:nth-child(2n+1) {
    clear: left;
  }

  .o-2-2\@medium {
    margin-right: 3%;
    width: 100%;
  }

  .o-2-2\@medium:nth-child(2n) {
    margin-right: 0;
  }

  .o-row {
    margin-bottom: 2.5em;
  }

  .o-row.-small {
    margin-bottom: 1.5625em;
  }

  .o-row.-large {
    margin-bottom: 3.75em;
  }

  .o-faux-row {
    padding-top: 2.5em;
  }

  .o-faux-row.-small {
    padding-top: 1.5625em;
  }

  .o-faux-row.-large {
    padding-top: 3.75em;
  }

  .c-page {
    padding: 3.125em 7% 4.375em;
  }

  .c-header__title {
    font-size: 1.625em;
  }

  .c-header__description {
    font-size: 1.25em;
  }

  .c-heading-a {
    font-size: 1.75em;
  }

  .c-heading-b {
    font-size: 2.25em;
  }

  .c-divider {
    margin: 0.8em auto 2em;
    width: 4.375em;
    height: 0.6875em;
  }

  .c-quote {
    font-size: 1.5em;
  }

  .c-quote:before {
    top: 88%;
    font-size: 10.41667em;
  }

  .c-body {
    font-size: 1.125em;
  }

  .c-body__preamble {
    font-size: 1.15em;
    line-height: 1.5;
    margin-bottom: 1.4em;
  }

  .u-left\@medium {
    float: left;
  }
}

@media (min-width: 84.375em) {
  .o-1-12\@xxxlarge {
    margin-right: 3.90015%;
    width: 4.758%;
  }

  .o-2-12\@xxxlarge {
    margin-right: 3.90015%;
    width: 13.41615%;
  }

  .o-3-12\@xxxlarge {
    margin-right: 3.90015%;
    width: 22.0743%;
  }

  .o-3-12\@xxxlarge:nth-child(4n) {
    margin-right: 0;
  }

  .o-3-12\@xxxlarge:nth-child(4n+1) {
    clear: left;
  }

  .o-4-12\@xxxlarge {
    margin-right: 3.90015%;
    width: 30.73245%;
  }

  .o-4-12\@xxxlarge:nth-child(3n) {
    margin-right: 0;
  }

  .o-4-12\@xxxlarge:nth-child(3n+1) {
    clear: left;
  }

  .o-5-12\@xxxlarge {
    margin-right: 3.90015%;
    width: 39.3906%;
  }

  .o-6-12\@xxxlarge {
    margin-right: 3.90015%;
    width: 48.04875%;
  }

  .o-6-12\@xxxlarge:nth-child(2n) {
    margin-right: 0;
  }

  .o-6-12\@xxxlarge:nth-child(2n+1) {
    clear: left;
  }

  .o-7-12\@xxxlarge {
    margin-right: 3.90015%;
    width: 56.7069%;
  }

  .o-8-12\@xxxlarge {
    margin-right: 3.90015%;
    width: 65.36505%;
  }

  .o-9-12\@xxxlarge {
    margin-right: 3.90015%;
    width: 74.0232%;
  }

  .o-10-12\@xxxlarge {
    margin-right: 3.90015%;
    width: 82.68135%;
  }

  .o-11-12\@xxxlarge {
    margin-right: 3.90015%;
    width: 91.3395%;
  }

  .o-12-12\@xxxlarge {
    margin-right: 3.90015%;
    width: 99.99765%;
  }

  .o-12-12\@xxxlarge:nth-child(12n) {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .o-1-12\@large {
    margin-right: 3.90015%;
    width: 4.758%;
  }

  .o-2-12\@large {
    margin-right: 3.90015%;
    width: 13.41615%;
  }

  .o-3-12\@large {
    margin-right: 3.90015%;
    width: 22.0743%;
  }

  .o-3-12\@large:nth-child(4n) {
    margin-right: 0;
  }

  .o-3-12\@large:nth-child(4n+1) {
    clear: left;
  }

  .o-4-12\@large {
    margin-right: 3.90015%;
    width: 30.73245%;
  }

  .o-4-12\@large:nth-child(3n) {
    margin-right: 0;
  }

  .o-4-12\@large:nth-child(3n+1) {
    clear: left;
  }

  .o-5-12\@large {
    margin-right: 3.90015%;
    width: 39.3906%;
  }

  .o-6-12\@large {
    margin-right: 3.90015%;
    width: 48.04875%;
  }

  .o-6-12\@large:nth-child(2n) {
    margin-right: 0;
  }

  .o-6-12\@large:nth-child(2n+1) {
    clear: left;
  }

  .o-7-12\@large {
    margin-right: 3.90015%;
    width: 56.7069%;
  }

  .o-8-12\@large {
    margin-right: 3.90015%;
    width: 65.36505%;
  }

  .o-9-12\@large {
    margin-right: 3.90015%;
    width: 74.0232%;
  }

  .o-10-12\@large {
    margin-right: 3.90015%;
    width: 82.68135%;
  }

  .o-11-12\@large {
    margin-right: 3.90015%;
    width: 91.3395%;
  }

  .o-12-12\@large {
    margin-right: 3.90015%;
    width: 99.99765%;
  }

  .o-12-12\@large:nth-child(12n) {
    margin-right: 0;
  }

  .o-row {
    margin-bottom: 3.75em;
  }

  .o-row.-small {
    margin-bottom: 1.875em;
  }

  .o-row.-large {
    margin-bottom: 5.625em;
  }

  .o-faux-row {
    padding-top: 3.75em;
  }

  .o-faux-row.-small {
    padding-top: 1.875em;
  }

  .o-faux-row.-large {
    padding-top: 5.625em;
  }

  .c-page {
    margin-top: -5em;
    padding: 5em 5em 7.5em;
  }

  .c-case__media.-even {
    float: left;
    margin-right: 5%;
  }

  .c-case__media.-odd {
    float: right;
    margin-left: 5%;
  }

  .c-case__media__small {
    display: block;
  }

  .c-header {
    padding: 5em 0 10em;
  }

  .c-header__title {
    font-size: 2.25em;
  }

  .c-header__description {
    font-size: 1.625em;
  }

  .c-heading-a {
    font-size: 2em;
  }

  .c-heading-b {
    font-size: 2.625em;
  }

  .c-divider {
    margin: 0.8em auto 2.6em;
    width: 6.25em;
    height: 0.875em;
  }

  .c-body {
    font-size: 1.25em;
  }

  .c-body__preamble {
    font-size: 1.15em;
    line-height: 1.5;
    margin-bottom: 1.4em;
  }

  .c-body h2 {
    font-size: 1.4em;
  }

  .c-body h3 {
    font-size: 1.2em;
  }

  .c-body blockquote {
    font-size: 1.28571em;
    line-height: 1.2963em;
  }

  .c-body-small {
    font-size: 1em;
  }

  .u-left\@large {
    float: left;
  }

  .u-right\@large {
    float: right;
  }

  .u-last\@large {
    margin-right: 0 !important;
  }

  .u-center\@large {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .u-clear-none\@large {
    clear: none !important;
  }

  .u-hidden\@large {
    display: none;
  }
}

@media (min-width: 64em) {
  .o-1-12\@xlarge {
    margin-right: 3.90015%;
    width: 4.758%;
  }

  .o-2-12\@xlarge {
    margin-right: 3.90015%;
    width: 13.41615%;
  }

  .o-3-12\@xlarge {
    margin-right: 3.90015%;
    width: 22.0743%;
  }

  .o-3-12\@xlarge:nth-child(4n) {
    margin-right: 0;
  }

  .o-3-12\@xlarge:nth-child(4n+1) {
    clear: left;
  }

  .o-4-12\@xlarge {
    margin-right: 3.90015%;
    width: 30.73245%;
  }

  .o-4-12\@xlarge:nth-child(3n) {
    margin-right: 0;
  }

  .o-4-12\@xlarge:nth-child(3n+1) {
    clear: left;
  }

  .o-5-12\@xlarge {
    margin-right: 3.90015%;
    width: 39.3906%;
  }

  .o-6-12\@xlarge {
    margin-right: 3.90015%;
    width: 48.04875%;
  }

  .o-6-12\@xlarge:nth-child(2n) {
    margin-right: 0;
  }

  .o-6-12\@xlarge:nth-child(2n+1) {
    clear: left;
  }

  .o-7-12\@xlarge {
    margin-right: 3.90015%;
    width: 56.7069%;
  }

  .o-8-12\@xlarge {
    margin-right: 3.90015%;
    width: 65.36505%;
  }

  .o-9-12\@xlarge {
    margin-right: 3.90015%;
    width: 74.0232%;
  }

  .o-10-12\@xlarge {
    margin-right: 3.90015%;
    width: 82.68135%;
  }

  .o-11-12\@xlarge {
    margin-right: 3.90015%;
    width: 91.3395%;
  }

  .o-12-12\@xlarge {
    margin-right: 3.90015%;
    width: 99.99765%;
  }

  .o-12-12\@xlarge:nth-child(12n) {
    margin-right: 0;
  }

  .o-1-left\@xlarge {
    margin-left: 8.65815%;
  }

  .o-2-left\@xlarge {
    margin-left: 12.5583%;
  }

  .u-left\@xlarge {
    float: left;
  }

  .u-right\@xlarge {
    float: right;
  }

  .u-last\@xlarge {
    margin-right: 0 !important;
    clear: right;
  }

  .u-center\@xlarge {
    margin-left: auto;
    margin-right: auto;
  }

  .u-hidden\@xlarge {
    display: none;
  }
}

@media (min-width: 75em) {
  .o-1-12\@xxlarge {
    margin-right: 3.90015%;
    width: 4.758%;
  }

  .o-2-12\@xxlarge {
    margin-right: 3.90015%;
    width: 13.41615%;
  }

  .o-3-12\@xxlarge {
    margin-right: 3.90015%;
    width: 22.0743%;
  }

  .o-3-12\@xxlarge:nth-child(4n) {
    margin-right: 0;
  }

  .o-3-12\@xxlarge:nth-child(4n+1) {
    clear: left;
  }

  .o-4-12\@xxlarge {
    margin-right: 3.90015%;
    width: 30.73245%;
  }

  .o-4-12\@xxlarge:nth-child(3n) {
    margin-right: 0;
  }

  .o-4-12\@xxlarge:nth-child(3n+1) {
    clear: left;
  }

  .o-5-12\@xxlarge {
    margin-right: 3.90015%;
    width: 39.3906%;
  }

  .o-6-12\@xxlarge {
    margin-right: 3.90015%;
    width: 48.04875%;
  }

  .o-6-12\@xxlarge:nth-child(2n) {
    margin-right: 0;
  }

  .o-6-12\@xxlarge:nth-child(2n+1) {
    clear: left;
  }

  .o-7-12\@xxlarge {
    margin-right: 3.90015%;
    width: 56.7069%;
  }

  .o-8-12\@xxlarge {
    margin-right: 3.90015%;
    width: 65.36505%;
  }

  .o-9-12\@xxlarge {
    margin-right: 3.90015%;
    width: 74.0232%;
  }

  .o-10-12\@xxlarge {
    margin-right: 3.90015%;
    width: 82.68135%;
  }

  .o-11-12\@xxlarge {
    margin-right: 3.90015%;
    width: 91.3395%;
  }

  .o-12-12\@xxlarge {
    margin-right: 3.90015%;
    width: 99.99765%;
  }

  .o-12-12\@xxlarge:nth-child(12n) {
    margin-right: 0;
  }

  .o-2-left\@xxlarge {
    margin-left: 12.5583%;
  }

  .c-page {
    max-width: 57.5em;
  }

  .c-case__media {
    width: 56%;
  }

  .c-case__media__small {
    position: absolute;
    top: 6.5625em;
  }

  .c-case__media__small.-odd {
    right: -3.125em;
  }

  .c-case__media__small.-even {
    left: -3.125em;
  }

  .c-quote {
    font-size: 1.75em;
    padding: 2.5em 10%;
  }

  .c-quote:before {
    top: 90%;
    font-size: 12.5em;
  }

  .u-left\@xxlarge {
    float: left;
  }

  .u-right\@xxlarge {
    float: right;
  }

  .u-last\@xxlarge {
    margin-right: 0 !important;
    clear: right;
  }

  .u-center\@xxlarge {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 63.9375em) {
  .u-hidden\@xsmall-xlarge {
    display: none;
  }
}

@media (max-width: 34.3125em) {
  .u-hidden\@xsmall-medium {
    display: none;
  }
}

@media (min-width: 34.375em) and (max-width: 47.9375em) {
  .o-1-2\@medium-large {
    margin-right: 3%;
    width: 48.5%;
  }

  .o-1-2\@medium-large:nth-child(2n) {
    margin-right: 0;
  }

  .o-1-2\@medium-large:nth-child(2n+1) {
    clear: left;
  }

  .o-2-2\@medium-large {
    margin-right: 3%;
    width: 100%;
  }

  .o-2-2\@medium-large:nth-child(2n) {
    margin-right: 0;
  }

  .u-last\@medium-large {
    margin-right: 0 !important;
  }

  .u-left\@medium-large {
    float: left;
  }

  .u-center\@medium-large {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media (min-width: 34.375em) and (max-width: 63.9375em) {
  .o-1-2\@medium-xlarge {
    margin-right: 3%;
    width: 48.5%;
  }

  .o-1-2\@medium-xlarge:nth-child(2n) {
    margin-right: 0;
  }

  .o-1-2\@medium-xlarge:nth-child(2n+1) {
    clear: left;
  }

  .o-2-2\@medium-xlarge {
    margin-right: 3%;
    width: 100%;
  }

  .o-2-2\@medium-xlarge:nth-child(2n) {
    margin-right: 0;
  }

  .u-left\@medium-xlarge {
    float: left;
  }

  .u-last\@medium-xlarge {
    margin-right: 0 !important;
  }
}

@media (min-width: 48em) and (max-width: 74.9375em) {
  .o-1-12\@large-xxlarge {
    margin-right: 3.90015%;
    width: 4.758%;
  }

  .o-2-12\@large-xxlarge {
    margin-right: 3.90015%;
    width: 13.41615%;
  }

  .o-3-12\@large-xxlarge {
    margin-right: 3.90015%;
    width: 22.0743%;
  }

  .o-3-12\@large-xxlarge:nth-child(4n) {
    margin-right: 0;
  }

  .o-3-12\@large-xxlarge:nth-child(4n+1) {
    clear: left;
  }

  .o-4-12\@large-xxlarge {
    margin-right: 3.90015%;
    width: 30.73245%;
  }

  .o-4-12\@large-xxlarge:nth-child(3n) {
    margin-right: 0;
  }

  .o-4-12\@large-xxlarge:nth-child(3n+1) {
    clear: left;
  }

  .o-5-12\@large-xxlarge {
    margin-right: 3.90015%;
    width: 39.3906%;
  }

  .o-6-12\@large-xxlarge {
    margin-right: 3.90015%;
    width: 48.04875%;
  }

  .o-6-12\@large-xxlarge:nth-child(2n) {
    margin-right: 0;
  }

  .o-6-12\@large-xxlarge:nth-child(2n+1) {
    clear: left;
  }

  .o-7-12\@large-xxlarge {
    margin-right: 3.90015%;
    width: 56.7069%;
  }

  .o-8-12\@large-xxlarge {
    margin-right: 3.90015%;
    width: 65.36505%;
  }

  .o-9-12\@large-xxlarge {
    margin-right: 3.90015%;
    width: 74.0232%;
  }

  .o-10-12\@large-xxlarge {
    margin-right: 3.90015%;
    width: 82.68135%;
  }

  .o-11-12\@large-xxlarge {
    margin-right: 3.90015%;
    width: 91.3395%;
  }

  .o-12-12\@large-xxlarge {
    margin-right: 3.90015%;
    width: 99.99765%;
  }

  .o-12-12\@large-xxlarge:nth-child(12n) {
    margin-right: 0;
  }

  .c-case__media__large {
    display: none;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) {
  .u-last\@large-xlarge {
    margin-right: 0 !important;
  }

  .u-center\@large-xlarge {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}