.c-skills {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-size: pxtoem(14);
  line-height: 1;
  max-width: 36em;
  text-align: center;

  @include respond-to('medium') {
    font-size: pxtoem(18);
  }

  &__item {
    border-radius: pxtoem(10);
    display: inline-block;
    background: color('grey','lighter');
    padding: 0.2em 0.8em 0.3em;
    margin: 0 0.5em 0.5em 0;
  }
}
