// Headings
//
// Here is the site's headline sizes in different varieties.
// Sizes run in an alphabetical order, not to be confused
// with html-headings such as h1, h2 and so on.

%heading {
  @include transition;
  color: color('black');
  word-wrap: break-word;
  font-weight: 700;

  a {
    color: color('black');
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: color('red');
      text-decoration: underline;
    }
  }

  .c-bookmark & {
    color: color('black');
    overflow: hidden;
  }

  .c-bookmark:hover &,
  .c-bookmark:focus &,
  .c-bookmark:active & {
    text-decoration: underline;
    color: color('red');
  }
}

// Heading-A
//
// Style for the c-heading-a class
//
// Markup: heading-a.twig
//
// Style guide: headings.heading-a
%heading-a,
.c-heading-a {
  @extend %heading;
  font-size: pxtoem(22);
  line-height: 1.15;
  text-transform: uppercase;
  margin: 0 0 0.3em;
  color: color('blue');
  text-align: center;

  @include respond-to('medium') {
    font-size: pxtoem(28);
  }

  @include respond-to('large') {
    font-size: pxtoem(32);
  }
}

// Heading-B
//
// Style for the c-heading-b class
//
// Markup: heading-b.twig
//
// Style guide: headings.heading-b
%heading-b,
.c-heading-b {
  @extend %heading;
  font-size: pxtoem(27);
  line-height: 1.25;
  margin: 0 0 0.4em;

  @include respond-to('medium') {
    font-size: pxtoem(36);
  }

  @include respond-to('large') {
    font-size: pxtoem(42);
  }
}
