.c-tags {
  list-style: none;
  margin: 0 0 0.8em;
  padding: 0;

  &__item {
    text-transform: uppercase;
    font-size: pxtoem(11);
    letter-spacing: 0.1em;
    background-color: color('yellow');
    color: color('black');
    padding: 0.5em 0.7em 0.4em;
    display: inline-block;
    line-height: 1.1;
    font-weight: bold;

    @include respond-to('medium') {
      font-size: pxtoem(13);
    }
  }
}
