.c-icon-github {
  display: inline-block;
  width: pxtoem(36);
  height: pxtoem(36);
  fill: color('white');
}

.c-icon-linkedin {
  display: inline-block;
  width: pxtoem(36);
  height: pxtoem(36);
  fill: color('white');
}

.c-icon-email {
  display: inline-block;
  width: pxtoem(32);
  height: pxtoem(32);
  fill: color('white');
}

.c-icon-arrow {
  fill: color('red');
  width: pxtoem(18);
  height: pxtoem(18);
}

.c-divider {
  display: block;
  width: pxtoem(60);
  height: pxtoem(9);
  margin-top: 0.8em;
  margin-bottom: 1.6em;
  fill: color('black');

  @include respond-to('medium') {
    margin-bottom: 2em;
    width: pxtoem(70);
    height: pxtoem(11);
  }

  @include respond-to('large') {
    margin-bottom: 2.6em;
    width: pxtoem(100);
    height: pxtoem(14);
  }

  &.-white {
    fill: color('white');
  }

  &.-center {
    margin-left: auto;
    margin-right: auto;
  } 
}

.c-icon-menu {
  float: right;
  margin-left: 0.7em;
  display: block;
  position: relative;
  overflow: hidden;
  width: pxtoem(24);
  height: pxtoem(24);

  &__inner {
    display: block;
    position: absolute;
    top: pxtoem(11);
    left: 0;
    right: 0;
    height: pxtoem(3);
    background: color('grey', 'darker');
    /* autoprefixer: off */
    transition: background 0s 0.15s;

    &::before,
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: pxtoem(3);
      background-color: color('grey', 'darker');
      content: '';
      /* autoprefixer: off */
      transition-duration: 0.15s, 0.15s;
      transition-delay: 0.15s, 0s;
    }

    &::before {
      top: pxtoem(-7);
      /* autoprefixer: off */
      transition-property: top, transform;
    }

    &::after {
      bottom: pxtoem(-7);
      /* autoprefixer: off */
      transition-property: bottom, transform;
    }
  }

  [aria-expanded='true'] & {
    &__inner {
      background: transparent;

      &::before,
      &::after {
        /* autoprefixer: off */
        transition-delay: 0s, 0.15s;
      }

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }
}
