.c-background-black {
  background: color('black');
  overflow: hidden;
}

.c-background-yellow {
  background: color('yellow');
  overflow: hidden;
}

.c-background-grey {
  background: color('grey', 'lighter');
}
